/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 *= require jquery-ui/datepicker

 */

 * {
  /*border: 1px solid green;*/
 }

 body {
  width: 242px;
  min-height: 425px;
  margin: 0 auto;
  margin-top: 89px;
  background: url("iphone.png") top no-repeat;
  font-size: 10px;
  font-family: "Lato";
  /*font-weight: 800;*/
 }

.container {
  height: 425px;
  padding: 10px;
  border: 1px solid black;
  background: url("background.png") center;
  overflow: scroll;
}

.row {
  margin-top: 30px;
  font-size: 12px;
  font-weight: bold;
  color: black;
}

.title {
  text-align: center;
}

.nav {
  top: 0;
  position: absolute;
  padding: 5px 5px 2px 5px;
  background: #003693;
  width: 242px;
  border: 1px solid black;
  border-bottom: none;
}

.nav a {
  color: white;
}

.nav span:nth-child(1) {
  margin-left: 30px;
}

.nav span:nth-child(2) {
  margin-left: 90px;
}

span.user-menu {
  margin-left: 10px;
}

span.user-menu:nth-child(2) {
  margin-left: 5px;
}

.user-menu {
  padding: 5px;
}

.top {
  display: block;
  margin-left: 0 !important;
}

.name {
  color: white;
  font-weight: bold;
  letter-spacing: 0.5px;
}

.container a {
  color: white;
}

.row a {
  color: blue;
}

.button {
  background: #003693;
  border: 1px solid white;
}

h2 {
  font-size: 10px;
  color: red;
  display: none;
}

#error_explanation li {
  font-size: 10px;
  color: red;
}

input#user_first_name, input#user_last_name {
  width: 100px;
}

.fullname {
  display: inline;
  float: left;
}

h6 {
  text-align: center;
  margin: 0;
}

p {
  font-weight: bold;
}

.ticket {
  height: 50px;
  width: 90px;
  display: inline-block;
  float: left;
  margin: 0 0 5px 15px;
  padding: 5px;
}

.ticket p {
  margin-bottom: 0;
}

.plane img {
  width: 40px;
  height: 10px;
  margin-left: 85px;
  margin-bottom: 10px;
}

.qr img{
  height: 100px;
  width: 100px;
  padding: 3px;
  float: right;
  border: 1px solid black;
}

.ui-datepicker {
/*position: absolute;*/
top: 190px !important;
left: 28px !important;
}
